[Unit]
Description=BBB light and heat service
#After=

[Service]
Type=simple
ExecStart= /home/lauren/light.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
